.App {
	display: flex;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(0.25turn, #d9ed92, #1a759f);
}

input[type='text'] {
	background-color: #fff;
	font-size: 0.8rem;
	padding: 8px;
	border: 1px solid #184e77;
	border-radius: 2px;
}

input[type='text']:focus-visible {
	outline: none;
}

button {
	background-color: #184e77;
	border: 0.5px solid #fff;
	font-size: 0.8rem;
	padding: 8px;
	color: #fff;
	border-radius: 2px;
}
